<div class="container-fluid">
<form class="example-form"  [formGroup]="findFalconForm" #findFalcon id="findFalcon" (ngSubmit)="onSubmit()">
    <div class="row" formArrayName="destBlocks">
        <div class="col-sm-4 col-md-3 col-6" *ngFor="let element of getControls(); let i = index"
        [formGroupName]="i">
        <mat-card>
            <mat-card-header>
            <h4>Destination {{i + 1}}</h4>
            </mat-card-header>
            <mat-form-field *ngIf="destOptions">
                <mat-label>Select a Planet</mat-label>
                <mat-select formControlName="destination" (selectionChange) = "onSelectingPlanet($event, i)">
                    <mat-option *ngFor="let destOption of destOptions[i]" [value]="destOption.name">{{destOption.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="vehicleOptions">
                <mat-label>Select a Vehicle</mat-label>
                <mat-select formControlName="vehicle" (selectionChange) = "onSelectingVehicle($event, i)">
                    <mat-option *ngFor="let vehicleOption of vehicleOptions[i]" [value]="vehicleOption.name">{{vehicleOption.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <hr>
            <mat-form-field>
                <mat-label>Time Taken</mat-label>
                <input matInput formControlName="timeTaken" type="number" placeholder="" readonly=true>
            </mat-form-field>
        </mat-card>
        </div>
    </div>
    <mat-grid-list cols="3" rowHeight="50px">        
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <h6 class="total-time">Total Time taken: {{totalTime}} </h6>
        </mat-grid-tile> 
        <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="submitBlock">          
            <button mat-button class="mat-raised-button" color="primary" type="submit" style="width: 80%">Find Falcone</button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button mat-button type="button" class="mat-raised-button" color="warn" style="width: 80%; float: right;" (click)="onReset()">Reset</button>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="row">
    <div class="col-sm-8 col-md-8 col-12" id="inventory">
        <h4>Vehicles Inventory Details</h4>
        <table mat-table [dataSource]="vehicles" class="mat-elevation-z8">
            <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            <!-- Vehicle Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Vehicle Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>    
            <!-- Total Number Column -->
            <ng-container matColumnDef="total_no">
                <th mat-header-cell *matHeaderCellDef> Total Number Left</th>
                <td mat-cell *matCellDef="let element"> {{element.total_no}} </td>
            </ng-container>
            <!-- Max Distance Column -->
            <ng-container matColumnDef="max_distance">
                <th mat-header-cell *matHeaderCellDef> Max Distance </th>
                <td mat-cell *matCellDef="let element"> {{element.max_distance}} </td>
            </ng-container>
            <!-- Speed Column -->
            <ng-container matColumnDef="speed">
                <th mat-header-cell *matHeaderCellDef> Speed </th>
                <td mat-cell *matCellDef="let element"> {{element.speed}} </td>
            </ng-container>            
            <tr mat-header-row *matHeaderRowDef="displayedColumnsVehicles"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsVehicles;"></tr>
            </table>     
        </div>
    <div class="col-sm-4 col-md-4 col-12" id="planets">
        <h4>Planet Details</h4>
        <table mat-table [dataSource]="planets" class="mat-elevation-z8">
            <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            <!-- Planet Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Planet Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>            
            <!-- Planet Distance Column -->
            <ng-container matColumnDef="distance">
                <th mat-header-cell *matHeaderCellDef> Distance </th>
                <td mat-cell *matCellDef="let element"> {{element.distance}} </td>
            </ng-container>         
            <tr mat-header-row *matHeaderRowDef="displayedColumnsPlanets"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsPlanets;"></tr>
            </table>
        </div>      
    </div>
</form>
</div>