mat-toolbar-row.mat-toolbar-row {
    justify-content: center
}
.mat-card {
    padding: 0 0 10px; 
    width: 75%;
    margin: 0 auto;
}
mat-card-header.mat-card-header {
    padding: 10px;
    border-radius: 4px 4px 0 0;
    justify-content: center;
    color: #ffffff
}
mat-card-content.mat-card-content {
    padding: 10px;
    text-align: center;
}
mat-card-actions.mat-card-actions {
    border-top: 1px solid #cccccc;
    margin: 0;
    text-align: center;
}
mat-card-actions.mat-card-actions button.mat-button {
    min-width: 250px
}